.contact {
    padding: 0 0 50px 0;
    position: relative;
    background-image: url('../img/footer-bg.png') , url('../img/color-sharp.png'),url('../img/color-sharp2.png') ;
  }
  .contact-bx {
    margin-top: 41px !important;
    background : linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    color: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 60px;
    margin-top: -60px;
  }
  .disp{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding :80px 100px;
  }
  .detail{
    margin-top: 20px;
  }
  a{
    text-decoration: none;
    color: #151515;
  }
  .ca:hover{
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
    
  }
  